@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Pristina";
        src: url('/fonts/PRISTINA.TTF') format('truetype');
      }

      @font-face {
        font-family: "Acumin";
        src: url('/fonts/Acumin-Variable-Concept.ttf') format('truetype');
      }
}